
 .jumbotron {
    text-align: center;
    background-color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  } 
  
  body {
    background:black;
  }

  .card{
    background:black;


  }
 h5{ color:white;
     
 }

 h4{ color:white;

 }
 li{color:white;

 }