/* Styles for all pages */

.jumbotron {
  text-align: center;
  background-color: #101010;
  border-radius: 0;
  border-bottom: 1px solid #ffffff;
  margin: 0 30px;
} 

body {
  /* background:#000022; */
  background-color: #101010;
  color: white;
}

a {
  color: #1472ff;
}

a:hover, a:active, a:focus {
  color: #0056d6;
}

.btn {
  background-color: #004bbd;
}

.btn:hover, .btn:active, .btn:focus {
  background-color: #0066ff;
  color: #ffffff;
}

.brand {
  font-family: 'Special Elite', cursive;
}

/* Color sequence for different letter colors */

.c0 {
  color: #4141d3;
}

.c1 {
  color: #eb2c2c;
}

.c2 {
  color: #7eb117;
}

.c3 {
  color: #e99f15;
}

.c4 {
  color: #1f9aca;
}

.c5 {
  color: #c936c9;
}

.c6 {
  color: #e7e712;
}

/* Home page styles */

.card{
  background: #101010;
}

/* Recipe page styles */

#error-message {
  color: red;
}

.recipe-preview-li {
  cursor: pointer;
}

.recipe-preview-li:hover {
  font-weight: bold;
}

.prevPage {
  margin-right: 4px;
}